


<h1>Are you interested in:</h1><br>
<div style="
    display: inline-block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 250px;
    height: 260px;
    margin: auto;">

  <%@results["events"]["event"].sample(2).collect do |result|%>
  <br>
    <center>
    <%if result["image"]%>
    <img src="<%=result["image"]["url"]%>" height="100" width="100"><br>
    <%else%>
    <table border = "1" height="100" width = "100"><tr><td style="text-align:center">No image available!</td></tr></table><br>
    <%end%>
    <a href = "<%=result["url"]%>"><%= result["title"]%></a><br>

    </center>

  <%end%>

  

</div>
</font>
