<font face = "Helvetica">

<font size = "150">Are you interested in:<br></font>
<div style="
    display: inline-block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 250px;
    height: 150px;
    margin: auto;">

  <%@results["events"]["event"].sample(2).collect do |result|%>
  <br>
    <a href = "<%=result["url"]%>"><%= result["title"]%></a><br>
    

  <%end%>

  

</div>
</font>
